<div class="side_navbar_div">
    <img src="assets/logo-desktop.svg" alt="logo" class="logo">
    <div class="all_boards_div">
        <h2 class="board_title">ALL BOARDS (3)</h2>
        <ol class="board_list">
            <li class="board_list_item">
                <div class="board_div">
                    <img src="assets/icon-board.svg" alt="board icon" class="board_img">
                    <p class="board_name">Board name</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="sidebar_options">
        <div class="theme_changer_div">
            <img src="assets/icon-sun.svg" alt="sun icon" class="theme">
            <input type="range" min="0" max="1" value="0" name="" id="theme_range" class="range">
            <img src="assets/icon-moon.svg" alt="moon icon" class="theme">
        </div>
    </div>
</div>
