<div class="side_navbar_div">
    <img src="assets/logo-desktop.svg" alt="logo" class="logo">
    <div class="all_boards_div">
        <ol class="board_list">
            <h2 class="board_title">ALL BOARDS (3)</h2>
            <li class="board_list_item">
                <div board_div>
                    <img src="assets/icon-board.svg" alt="board icon" class="board_img">
                    <p class="board_name">Board name</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="sidebar_options">
        <div class="theme_changer_div">
            <img src="" alt="" class="light_theme">
            <input type="range" name="" id="">
            <img src="" alt="" class="dark_theme">
        </div>
    </div>
</div>
