.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*add grid styles to components */
@media(min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 261px 1fr;
    }
}