header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem;
}

.options_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

h2{
    font-size: 1rem;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    background: none;
}

.options_button{
    margin-left: 0.5rem;
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
}

.add_button_paragraph{
    display: none;
}

.add_button{
    width: 3rem;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){

    header{
        grid-column: 1/-1;
    }

    .add_button_paragraph{
        color: var(--button-text-color);
        display: block;
        font-weight: 700;
        margin-left: 0.5rem;
    }

    .add_button{
        width: 10.25rem;
        height: 3rem;
    }
}