<header>
    <div class="options_div">
        <div class="logo_div">
        <img src="assets/logo-mobile.svg" alt="logo">
    </div>
    <h2>
        Plataform Launch
        <button class="options_button">
            <img src="assets/logo-arrow-down.svg" alt="low arrow icon">
        </button>
    </h2>
    </div>
    <div class="options_div">
        <button class="btn add_button">
            <img src="assets/icon-cross.svg" alt="cross icon">
        </button>
        <button class="options_button">
            <img src="assets/icon-vertical-elipsis.svg" alt="vertical elipsis icon">
        </button>
    </div>
</header>