:root{
    --red: #EA5555;
    --red-hover: #FF9898;
    --very-dark-gray: #20212C;
    --lines-dark: #3E3F4E;
    --lines-light: #E4EBFA;
    --lines-gray: #F4F7FD;

    --font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: var(--font-family);
}

.light{
    --page-background-color: #F4F7FD;;
    --header-background-color: #FFFFFF;
    --button-background-color: #635FC7;
    --button-hover-color: #A8A4FF;
    --button-text-color: #FFFFFF;
    --text-primary-color: #000112;
    --text-secondary-color: #828FA3;

}

.dark{
    --page-background-color: #F4F7FD;
    --header-background-color: #2B2C37;
    --button-background-color: #635FC7;
    --button-hover-color: #A8A4FF;
    --button-text-color: #FFFFFF;
    --text-primary-color: #000112;
    --text-secondary-color: #828FA3;
}

header{
    background-color: var(--header-background-color);
}

.btn{
    background-color: var(--button-background-color);
}